{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}

    <div>
        <h1 class="display-5 fw-bold text-body-emphasis text-center">About</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam metus massa, elementum ac velit sit
                amet, lobortis imperdiet justo. Ut rutrum, diam id tristique luctus, est libero vulputate felis, vel
                euismod quam arcu non tellus. Cras vitae mattis odio. Praesent dapibus ex non enim convallis, sit amet
                aliquam tellus vulputate. Nunc rhoncus, felis quis congue sagittis, risus felis hendrerit diam, ut
                malesuada risus nisl ut enim. Vestibulum eget porttitor nunc. Ut sit amet nisl et lacus pulvinar
                feugiat molestie at metus. Sed ut blandit lacus.
            </p>
            <p class="lead mb-4">
                Ut sed arcu nec ante rutrum mollis. Etiam neque lacus, ultrices vitae massa sit amet,
                imperdiet hendrerit orci. Cras tristique erat imperdiet, egestas tellus ut, aliquet tortor.
                Duis molestie ullamcorper turpis, sit amet imperdiet lorem porta ac. Aenean commodo vestibulum
                malesuada. Etiam at vehicula purus. Cras luctus a ipsum et feugiat. Nullam luctus purus justo, sit amet
                mattis quam tincidunt nec. Integer et elit eu tellus aliquet suscipit sodales ut ex. Sed id lacus eget
                eros auctor dictum sit amet condimentum elit. Phasellus vestibulum mollis bibendum. Pellentesque mattis
                massa magna, ac feugiat augue gravida a. Morbi tortor magna, tempor et sapien id, blandit feugiat purus.
                Ut commodo tempor metus, non ultricies ex tempus vitae. Duis fermentum ullamcorper arcu, vel euismod mi.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>

{% endblock %}