{% extends 'base.html' %}
{% block title %}Retro A{% endblock %}

{% block content %}
    <div class="text-center hero">
        <h1 class="display-5 fw-bold text-body-emphasis">Retro A</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Want to document your travel experience or find out the next place worth visiting? We got you covered!
            </p>
            <hr class="my-4">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign Up!</button>
                <a class="btn btn-outline-secondary btn-lg px-4" href="{{ url_for('home') }}">Explore</a>
                <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign In</button> -->
            </div>
        </div>
    </div>

{% endblock %}