{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}

    <div class="custom-container hero" id="register">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li id="flash">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
        {% endwith %}
        <div class="col-lg-8 col-md-10 mx-auto custom-container">
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>

{% endblock %}